In [1]:
from itertools import combinations
import psycopg2
import sqlalchemy.exc
from datetime import datetime
import pandas as pd
import random
import re

In [2]:
#User(first_name='Никита', id=186494238, is_bot=False, username='nkhozin')

In [3]:
def extract_free_time(time_string):
    now = datetime.now().strftime('%Y-%m-%d')
    times = re.findall(r'\d\d:\d\d-\d\d:\d\d', fr'{time_string}')
    all_time_range = []

    for time in times:
        time_list = [now+' '+i for i in time.split('-')]
        time_range = pd.date_range(time_list[0], time_list[1], freq='30min')[:-1]
        time_range = [i.strftime('%Y-%m-%d %H:%M') for i in time_range.to_list()]
        all_time_range.extend(time_range)
    return all_time_range

In [39]:
extract_time = extract_free_time('17:30-18:30, 19:30-20:00')

In [40]:
extract_time

['2023-10-21 17:30', '2023-10-21 18:00', '2023-10-21 19:30']

In [41]:
#Renzo 1318770911

In [42]:
for time in extract_time:
    insert_members_free_time(12345, time)

Record inserted successfully into table
PostgreSQL connection is closed
Record inserted successfully into table
PostgreSQL connection is closed
Record inserted successfully into table
PostgreSQL connection is closed

In [257]:
insert_members(186494238, 'Никита', 'nkhozin')
insert_members(1318770911, 'Renzo', 'renzo')
insert_members(12345, 'Случайный бот', 'random_bot')

Record inserted successfully into table
PostgreSQL connection is closed
Record inserted successfully into table
PostgreSQL connection is closed
Record inserted successfully into table
PostgreSQL connection is closed

In [174]:
#

In [193]:
# drop_table('members_free_time')
# create_table_members_free_time()

In [259]:
my_id = 12345
extract_time = extract_free_time('17:30-18:00')
for time in extract_time:
    insert_members_free_time(my_id, time)

Record inserted successfully into table
PostgreSQL connection is closed

In [260]:
my_id = 186494238
extract_time = extract_free_time('17:30-18:00')
for time in extract_time:
    insert_members_free_time(my_id, time)

Record inserted successfully into table
PostgreSQL connection is closed

In [261]:
my_id = 1318770911
extract_time = extract_free_time('17:30-18:00')
for time in extract_time:
    insert_members_free_time(my_id, time)

Record inserted successfully into table
PostgreSQL connection is closed

In [4]:
def drop_table(table_name):
    conn = psycopg2.connect(user="postgres", password="12345",host="127.0.0.1",database="coffee")
    cur = conn.cursor()
    cur.execute(f"DROP TABLE IF EXISTS {table_name}")
    conn.commit()
    conn.close()
    
def create_table_members():
    conn = psycopg2.connect(user="postgres", password="12345",host="127.0.0.1",database="coffee")
    cur = conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS members(member_id INTEGER, first_name TEXT, username TEXT)")
    conn.commit()
    conn.close()
    
def create_table_members_free_time():
    conn = psycopg2.connect(user="postgres", password="12345",host="127.0.0.1",database="coffee")
    cur = conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS members_free_time(member_id INTEGER, free_time TIMESTAMP)")
    conn.commit()
    conn.close()

def create_table_pairs():
    conn = psycopg2.connect(user="postgres", password="12345",host="127.0.0.1",database="coffee")
    cur = conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS pairs(pair_id INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY, member_id_1 INTEGER, member_id_2 INTEGER, happened BOOLEAN)")
    conn.commit()
    conn.close()
    
def create_table_rooms():
    conn = psycopg2.connect(user="postgres", password="12345",host="127.0.0.1",database="coffee")
    cur = conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS rooms(room_id INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY, room_number INTEGER, time_start TIMESTAMP, pair_id INTEGER)")
    conn.commit()
    conn.close()
    
def change_meeting_status(pair_id):
    conn = psycopg2.connect(user="postgres", password="12345",host="127.0.0.1",database="coffee")
    cur = conn.cursor()
    query = f"""
        UPDATE pairs 
        SET happened = true
        WHERE pair_id = {pair_id}
    """
    cur.execute(query)
    conn.commit()
    conn.close()
    return print(f'Встреча {pair_id} успешно прошла!')

def insert_pairs(member_id_1, member_id_2):
    try:
        conn = psycopg2.connect(user="postgres",password="12345",host="127.0.0.1",database="coffee")
        cursor = conn.cursor()
        query = f"""
            INSERT INTO 
            pairs(member_id_1, member_id_2, happened)
            VALUES
            ({member_id_1},{member_id_2},False)
        """
        cursor.execute(query)
        conn.commit()

        return print("Record inserted successfully into table")
    except (Exception,psycopg2.Error)as error:
        if(conn):
            str_error = f"""Failed to insert record into mobile table! Error:{error}"""
            return print(str_error)
    finally:
        if(conn):
            cursor.close()
            conn.close()
            return print("PostgreSQL connection is closed")

def insert_members(member_id, first_name, username):
    try:
        conn = psycopg2.connect(user="postgres",password="12345",host="127.0.0.1",database="coffee")
        cursor = conn.cursor()
        query = f"""
            INSERT INTO 
            members(member_id, first_name, username)
            VALUES
            ({member_id},'{first_name}','{username}')
        """
        cursor.execute(query)
        conn.commit()

        return print("Record inserted successfully into table")
    except (Exception,psycopg2.Error)as error:
        if(conn):
            str_error = f"""Failed to insert record into mobile table! Error:{error}"""
            return print(str_error)
    finally:
        if(conn):
            cursor.close()
            conn.close()
            return print("PostgreSQL connection is closed")
        
def insert_members_free_time(member_id, free_time):
    try:
        conn = psycopg2.connect(user="postgres",password="12345",host="127.0.0.1",database="coffee")
        cursor = conn.cursor()
        query = f"""
            INSERT INTO 
            members_free_time(member_id, free_time)
            VALUES
            ({member_id},'{free_time}')
        """
        cursor.execute(query)
        conn.commit()

        return print("Record inserted successfully into table")
    except (Exception,psycopg2.Error)as error:
        if(conn):
            str_error = f"""Failed to insert record into mobile table! Error:{error}"""
            return print(str_error)
    finally:
        if(conn):
            cursor.close()
            conn.close()
            return print("PostgreSQL connection is closed")
        
def delete_members(member_id):
    try:
        conn = psycopg2.connect(user="postgres",password="12345",host="127.0.0.1",database="coffee")
        cursor = conn.cursor()
        query = f"""
            DELETE FROM members
            WHERE member_id={member_id}
        """
        cursor.execute(query)
        conn.commit()

        return print("Record inserted successfully into table")
    except (Exception,psycopg2.Error)as error:
        if(conn):
            str_error = f"""Failed to insert record into mobile table! Error:{error}"""
            return print(str_error)
    finally:
        if(conn):
            cursor.close()
            conn.close()
            return print("PostgreSQL connection is closed")
        
def insert_room(room_number, time_start, pair_id):
    try:
        conn = psycopg2.connect(user="postgres",password="12345",host="127.0.0.1",database="coffee")
        cursor = conn.cursor()
        query = f"""
            INSERT INTO 
            rooms(room_number, time_start, pair_id)
            VALUES
            ({room_number},'{time_start}',{pair_id})
        """
        cursor.execute(query)
        conn.commit()

        return print(f"Комната {room_number} успешно забронирована на {time_start} для встречи пары {pair_id}")
    except (Exception,psycopg2.Error) as error:
        if(conn):
            str_error = f"""Failed to insert record into mobile table! Error:{error}"""
            return print(str_error)
    finally:
        if(conn):
            cursor.close()
            conn.close()
            return print("PostgreSQL connection is closed")
    
def get_last_pair_id():
    engine = sqlalchemy.create_engine("postgresql://postgres:12345@127.0.0.1/coffee", pool_pre_ping=True)
    
    query = f"""
        select pair_id
        from pairs
        order by pair_id desc
        limit 1
    """
    data = pd.read_sql_query(query, engine)
    return data.pair_id.to_list()[0]
    
def choose_free_room(time):
    engine = sqlalchemy.create_engine("postgresql://postgres:12345@127.0.0.1/coffee", pool_pre_ping=True)
    
    query = f"""
         select room_number
         from rooms
         where time_start='{time}'
    """
    data = pd.read_sql_query(query, engine)
    
    all_room_numbers = [i for i in range(1,6)]

    if data.empty:
        return random.sample(all_room_numbers, 1)[0]
    else:
        book_room = data.room_number.to_list()
        free_rooms = list(set(all_room_numbers)-set(book_room))
        if not free_rooms:
            return print('Свободных комнат нет!')
        else:
            return random.sample(free_rooms, 1)[0]
    
def check_if_all_meetings_happened(iteration):
    engine = sqlalchemy.create_engine("postgresql://postgres:12345@127.0.0.1/coffee", pool_pre_ping=True)

    query = f"""
    select count(*) as cnt
    from pairs
    where iteration={iteration}
    and happened is false
    """
    
    data = pd.read_sql_query(query, engine)
    cnt = data.cnt.to_list()[0]
    if cnt>0:
        return False
    else:
        return True

In [16]:
#insert_room(2, '2023-10-20 18:00', 3)

In [61]:
drop_table('pairs')
create_table_pairs()

In [255]:
drop_table('rooms')
drop_table('pairs')
drop_table('members')
drop_table('members_free_time')

In [256]:
create_table_pairs()
create_table_rooms()
create_table_members()
create_table_members_free_time()

In [331]:
iteration = 1
pair_list = ['Никита','Маша','Дима'] #,'Андрей'

In [337]:
pair_permutations = list(combinations(pair_list, 2))

In [338]:
pair_permutations

[('Никита', 'Маша'), ('Никита', 'Дима'), ('Маша', 'Дима')]

In [334]:
def main(pair_permutations):
    if pair_permutations:
        for pair in pair_permutations:
            pair_string = pair[0]+'-'+pair[1]
            first_member = pair[0]
            second_member = pair[0]

            insert_pairs(iteration, pair_string)

            pair_id = get_last_pair_id()

            first_time = '17:30'
            second_time = '17:30'

            if first_time==second_time:
                now = datetime.now().strftime('%Y-%m-%d')
                find_time = now+' '+first_time

                free_random_room = choose_free_room(find_time)

                if free_random_room:
                    insert_room(free_random_room, find_time, pair_id)

                    change_meeting_status(pair_id)
                    
                    pair_permutations.remove(pair)
                    print()
            else:
                print('Выберите новое время')

        return main(pair_permutations)
    else:
        return print('Все встречи прошли!')

In [335]:
main(pair_permutations)

Record inserted successfully into table
PostgreSQL connection is closed
Комната 5 успешно забронирована на 2023-10-20 17:30 для встречи пары 1
PostgreSQL connection is closed
Встреча 1 успешно прошла!

Record inserted successfully into table
PostgreSQL connection is closed
Комната 3 успешно забронирована на 2023-10-20 17:30 для встречи пары 2
PostgreSQL connection is closed
Встреча 2 успешно прошла!

Record inserted successfully into table
PostgreSQL connection is closed
Комната 2 успешно забронирована на 2023-10-20 17:30 для встречи пары 3
PostgreSQL connection is closed
Встреча 3 успешно прошла!

Все встречи прошли!

In [341]:
list(pair_permutations[0])

['Никита', 'Маша']

In [ ]:
#Пары:

#ID
#Итерация
#Пара
#Произошла ли встреча

#Переговорные комнаты:

#ID
#Номер комнтаты
#Время начала
#Время конца
#ID пары

In [343]:
import pickle

In [353]:
current_members = pickle.load(open('current_members.pkl', 'rb'))
iteration = 1
pair_permutations = list(combinations(current_members, 2))[0]

In [354]:
list(pair_permutations)[0]

'<a href="tg://user?id=186494238">Никита</a>'

In [355]:
', '.join(pair_permutations[0])

'<, a,  , h, r, e, f, =, ", t, g, :, /, /, u, s, e, r, ?, i, d, =, 1, 8, 6, 4, 9, 4, 2, 3, 8, ", >, Н, и, к, и, т, а, <, /, a, >'

In [357]:
', '.join(list(pair_permutations))

'<a href="tg://user?id=186494238">Никита</a>, <a href="tg://user?id=1650281428">MARIA</a>'

In [48]:
free_random_room = choose_free_room('2023-10-21 17:30')

In [49]:
free_random_room

1

In [24]:
def get_free_time_and_pairs():
    """Функция получения из БД пар участников, у которых удобное время для встречи пересекается, а также эти временные интервалы"""
    engine = sqlalchemy.create_engine("postgresql://postgres:12345@127.0.0.1/coffee", pool_pre_ping=True)

    query = """
    with members_free_time as 
    (
        select distinct member_id, free_time
        from members_free_time),
    pairs as (
        select (member_id_1, member_id_2) as pairs_1, (member_id_2, member_id_1) as pairs_2
        from pairs
        )
    select *
    from
        (select *, (member_id_1, member_id_2) as our_pairs
        from
            (select m1.member_id as member_id_1, m1.free_time as free_time
            ,case when m1.member_id<m2.member_id then m1.member_id else m2.member_id end as member_id_2
            from members_free_time m1
            left join members_free_time m2 on m1.free_time=m2.free_time and m1.member_id!=m2.member_id
            where m2.member_id is not null)
        where member_id_1!=member_id_2)
    where our_pairs not in (select pairs_1 from pairs)
    and our_pairs not in (select pairs_2 from pairs)
    """

    data = pd.read_sql_query(query, engine)
    return data

def was_a_meeting(member_id_1, member_id_2):
    """Проверка была ли встреча между member_id_1 и member_id_2"""
    engine = sqlalchemy.create_engine("postgresql://postgres:12345@127.0.0.1/coffee", pool_pre_ping=True)
    
    query = f"""
    select count(*) as cnt
    from pairs
    where ((member_id_1={member_id_1} and member_id_2={member_id_2}) or (member_id_2={member_id_1} and member_id_1={member_id_2}))
    and happened is true
    """
    data = pd.read_sql_query(query, engine)
    cnt = data.cnt.to_list()[0]
    if cnt>0:
        return True
    else:
        return False
    
def will_by_a_meeting(member_id_1, member_id_2):
    """Проверка будет ли встреча между member_id_1 и member_id_2"""
    engine = sqlalchemy.create_engine("postgresql://postgres:12345@127.0.0.1/coffee", pool_pre_ping=True)
    
    query = f"""
    select count(*) as cnt
    from pairs p
    left join rooms r on p.pair_id=r.pair_id
    where (member_id_1 in ({member_id_1},{member_id_2}) or member_id_2 in ({member_id_1},{member_id_2}))
    and happened is false
    and time_start > NOW()
    """
    data = pd.read_sql_query(query, engine)
    cnt = data.cnt.to_list()[0]
    if cnt>0:
        return True
    else:
        return False

In [136]:
data = get_free_time_and_pairs()

In [26]:
drop_table('pairs')
drop_table('rooms')
create_table_pairs()
create_table_rooms()

In [140]:
def main(data):
    if not data.empty:
        for index, row in data.iterrows():
            member_id_1 = row.member_id_1
            member_id_2 = row.member_id_2

            if was_a_meeting(member_id_1, member_id_2):
                print('Встреча уже была')
            elif will_by_a_meeting(member_id_1, member_id_2):
                print('Встреча будет!')
            else:
                free_time = row.free_time.strftime('%Y-%m-%d %H:%M')
                insert_pairs(member_id_1, member_id_2)
                pair_id = get_last_pair_id()
                free_random_room = choose_free_room(free_time)

                if free_random_room:
                    insert_room(free_random_room, free_time, pair_id)

                    change_meeting_status(pair_id)
        main(get_free_time_and_pairs())
    else:
        print('Все встречи прошли')

In [139]:
main(data)

Record inserted successfully into table
PostgreSQL connection is closed
Комната 4 успешно забронирована на 2023-10-21 17:30 для встречи пары 1
PostgreSQL connection is closed
Встреча 1 успешно прошла!
Record inserted successfully into table
PostgreSQL connection is closed
Комната 1 успешно забронирована на 2023-10-21 17:30 для встречи пары 2
PostgreSQL connection is closed
Встреча 2 успешно прошла!
Встреча уже была
Встреча уже была
Встреча уже была
Record inserted successfully into table
PostgreSQL connection is closed
Комната 1 успешно забронирована на 2023-10-21 19:30 для встречи пары 3
PostgreSQL connection is closed
Встреча 3 успешно прошла!
Встреча уже была
Все встречи прошли

In [154]:
get_free_time_and_pairs()

   member_id_1           free_time  member_id_2               our_pairs
0    186494238 2023-10-21 17:30:00        12345       (186494238,12345)
1   1318770911 2023-10-21 17:30:00        12345      (1318770911,12345)
2   1318770911 2023-10-21 19:30:00        12345      (1318770911,12345)
3    186494238 2023-10-21 19:30:00        12345       (186494238,12345)
4    186494238 2023-10-21 18:00:00        12345       (186494238,12345)
5   1318770911 2023-10-21 18:00:00        12345      (1318770911,12345)
6   1318770911 2023-10-21 18:00:00    186494238  (1318770911,186494238)
7   1318770911 2023-10-21 19:30:00    186494238  (1318770911,186494238)
8   1318770911 2023-10-21 17:30:00    186494238  (1318770911,186494238)

In [81]:
#insert_pairs(member_id_1, member_id_2)

Record inserted successfully into table
PostgreSQL connection is closed

In [ ]:
def add_members(member_name):
    current_members = pickle.load(open('current_members.pkl', 'rb'))
    current_members.append(member_name)
    pickle.dump(current_members, open('current_members.pkl', 'wb'))
    return current_members

def remove_members(member_name):
    current_members = pickle.load(open('current_members.pkl', 'rb'))
    current_members.remove(member_name)
    pickle.dump(current_members, open('current_members.pkl', 'wb'))
    return current_members

In [117]:
data.iterrows()

In [91]:
data

   member_id_1           free_time  member_id_2
0   1318770911 2023-10-21 17:30:00        12345
1   1318770911 2023-10-21 17:30:00    186494238
2    186494238 2023-10-21 17:30:00        12345
3   1318770911 2023-10-21 18:00:00        12345
4    186494238 2023-10-21 19:30:00        12345
5   1318770911 2023-10-21 19:30:00        12345
6   1318770911 2023-10-21 19:30:00    186494238

In [92]:
pair_list = [1318770911, 12345, 186494238]

In [93]:
pair_permutations = list(combinations(pair_list, 2))

In [94]:
pair_permutations

[(1318770911, 12345), (1318770911, 186494238), (12345, 186494238)]

In [217]:
def get_pairs_without_rooms():
    """Функция получения информации по тем парам, которые создались, но по которым не создалась комната по причине того, что они все заняты"""
    engine = sqlalchemy.create_engine("postgresql://postgres:12345@127.0.0.1/coffee", pool_pre_ping=True)
    query = """
    select p.pair_id, member_id_1, member_id_2
    from pairs p
    left join rooms r on p.pair_id=r.pair_id
    where happened is false
    and r.pair_id is null
    """
    data = pd.read_sql_query(query, engine)
    return data

def get_first_name(member_id):
    """Получение имени пользователя по его member_id из БД"""
    engine = sqlalchemy.create_engine("postgresql://postgres:12345@127.0.0.1/coffee", pool_pre_ping=True)
    query = f"""
    select first_name
    from members
    where member_id={member_id}
    """
    data = pd.read_sql_query(query, engine)
    return data.first_name.to_list()[0]

In [206]:
data = get_pairs_without_rooms()

In [207]:
data

   pair_id  member_id_1  member_id_2
0        2    186494238        12345
1        3   1318770911    186494238

In [225]:
members_id = list(set(data.member_id_1.to_list()+data.member_id_2.to_list()))
members_name = [get_first_name(i) for i in members]
hrefs = [f"<a href=''tg://user?id={member_id}''>{member_name}</a>" for member_id, member_name in zip(members_id, members_name)]
text = ', '.join(hrefs) + ' выберите, пожалуйста, другое время. Все свободные комнаты, к сожалению, заняты.'

In [242]:
def get_count_members():
    """Функция получения количества участников в чате"""
    engine = sqlalchemy.create_engine("postgresql://postgres:12345@127.0.0.1/coffee", pool_pre_ping=True)
    query = """
    select count(distinct member_id) as cnt
    from members
    """
    data = pd.read_sql_query(query, engine)
    return data.cnt.to_list()[0]

def get_count_meet_and_book():
    """Функция получения количества прошедших и забронированных встреч"""
    engine = sqlalchemy.create_engine("postgresql://postgres:12345@127.0.0.1/coffee", pool_pre_ping=True)
    query = """
    select count(distinct pair_id) as cnt
    from rooms
    """
    data = pd.read_sql_query(query, engine)
    return data.cnt.to_list()[0]

def С(n, k):
    if 0 <= k <= n:
        nn = 1
        kk = 1
        for t in range(1, min(k, n - k) + 1):
            nn *= n
            kk *= t
            n -= 1
        return nn // kk
    else:
        return 0

In [251]:
get_count_meet_and_book()

1

In [243]:
c = get_count_members()

In [245]:
С(4, 2)

6

In [250]:
list(combinations([1,2,3,4], 2))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [2]:
pip install configparser

Requirement already satisfied: configparser in c:\users\nkhozin\anaconda3\envs\myenv\lib\site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -yarrow (c:\users\nkhozin\anaconda3\envs\myenv\lib\site-packages)
WARNING: Ignoring invalid distribution -yarrow (c:\users\nkhozin\anaconda3\envs\myenv\lib\site-packages)

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import configparser

In [4]:
config = configparser.ConfigParser()

In [5]:
config.add_section('postgresql')
config.set('postgresql', 'host', '127.0.0.1')
config.set('postgresql', 'user', 'postgres')
config.set('postgresql', 'password', '12345')
config.set('postgresql', 'db', 'coffee')

In [6]:
config.add_section('tg_bot')
config.set('tg_bot', 'token', '6831214992:AAHdpgVtZr786Mm3fy8JVlk7cqFxKEwejc0')

In [8]:
with open(r"C:\Users\nkhozin\Downloads\jupyter_notebooks\tula_hack\configfile.ini", 'w') as configfile:
    config.write(configfile)

In [27]:
import configparser

config_obj = configparser.ConfigParser()
config_obj.read("C:\\Users\\nkhozin\\Downloads\\jupyter_notebooks\\tula_hack\\configfile.ini")

dbparam = config_obj["postgresql"]
tg_bot = config_obj["tg_bot"]

user = dbparam["user"]
password = dbparam["password"]
host = dbparam["host"]
dbase = dbparam["db"]

token = tg_bot["token"]

conn = psycopg2.connect(user="postgres",password=password,host=host,database=dbase)
engine = sqlalchemy.create_engine('postgresql://user:password@host/dbase', encoding='utf8')

In [28]:
token

'6831214992:AAHdpgVtZr786Mm3fy8JVlk7cqFxKEwejc0'

In [ ]:
engine = sqlalchemy.create_engine("postgresql://postgres:12345@127.0.0.1/coffee", pool_pre_ping=True)